.main-body{
    display:grid;
    grid-template-columns: minmax(200px,auto) 1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap: 20px;
}
#navbar{
    grid-area: navbar;
    position: fixed;
}

#navbar a{
 display: block;
 border: 1px black solid;
 padding: 5px;
 margin: 10px 0;
 text-decoration: none;
 color: black;
}
#navbar a:hover{
    background-color: whitesmoke;
 }
#main-doc{
    grid-area: mainContent;
}

header{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

code{
    background-color: #ccc;
    display: block;
    padding: 20px;
}

@media screen and (max-width: 750px){
    .main-body{
        grid-template-columns: 1fr;
        grid-template-areas: "navbar" "mainContent";
    }
    #navbar{
        position: inherit;
    }
}
